.jumbotron{
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    gap: 25px;

    width: 100%;
    margin: 0 auto;
    background: rgb(255, 255, 255, 0.5);
    height: 450px;
    text-align: center;
}


.video-container{
    display: absolute;
    top: 0;
    /*display: flex;
    flex-wrap: nowrap;
    justify-items: center;*/
    width: 100%;
    height: auto;
    background: rgb(235, 194, 208, 0.3);
    z-index: -1;
}
  
.video-container > video {
    position:absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    min-height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);    
}
