.jumbotron{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    height: 450px;
   
}

.jumbotron p{
    padding: 2rem 15rem;
    font-size: 38px;
    text-align: center;
    color: #003300
    

}


.video-container{
    display: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: rgb(178, 250, 180, 0.3);
    z-index: -1;
}
  
.video-container > video {
    position:absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    min-height: 350px;
    top: 61%;
    left: 50%;
    transform: translate(-50%,-40%);    
}
