.subscription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    z-index: 99;     
}


.subscription article{
    padding: 1rem;
    background: #388e3c;
}

.subscription h1{
    font-size:36px;
    color: #fff
}

.subscription h3{
    font-size:24px;
    color: #fff
}

.subscription label{
    font-size:24px;
    color: #fff
}

.subscription img{
    padding: 0px;
    width: 100%;
    height: 350px;
}

.subscription article:nth-child(1){
    display: block;
    font-size: 25px;
    font-weight: bold;
    
    padding: 0;;
    z-index: 99;
}

.subscription-detail{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:15px;
    padding:5rem;
    background-color: #fff;

    text-align: justify;
    font-size:24px;
    color: #9b5857
}

.subscription-detail-context{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    gap:6rem;
    margin-top: 1.25rem;

    color: #003300
}


.subscription-detail h1{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #003300
}